pkgbase = claude-desktop-native
	pkgdesc = Unofficial Claude Desktop for Linux
	pkgver = 0.13.19
	pkgrel = 2
	url = https://github.com/claude-desktop-native/claude-desktop-native.git
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = p7zip
	makedepends = npm
	makedepends = nodejs
	makedepends = rust
	makedepends = cargo
	makedepends = imagemagick
	makedepends = icoutils
	makedepends = tar
	depends = electron
	optdepends = docker: for running MCP servers
	source = Claude-Setup-x64-0.13.19-2.exe::https://storage.googleapis.com/osprey-downloads-c02f6a0d-347c-492b-a752-3e0651722e97/nest-win-x64/Claude-Setup-x64.exe
	source = patchy-cnb::git+https://github.com/k3d3/claude-desktop-linux-flake.git
	sha256sums = 0f00a04d20692b6f2c4420540416ad3ec681650fb2c8bac96c0ae24a47f57fc1
	sha256sums = SKIP

pkgname = claude-desktop-native
